button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

body {
	font: 'Trebuchet MS' !important;
	line-height: 1.4em;
	background: #eaeaea url('/bg.jpg');
  background-repeat:no-repeat;
  background-size: cover;
	color: #4d4d4d;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	overflow-x: hidden;
}

#mailapp {
	background: #fff;
	background: rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 10px 0 black;
	width: 97%;
	position: absolute;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	margin: 0 auto;
}

#main:before {
	content: '';
	border-left: 1px solid rgba(61, 0, 255, 0.5);
	border-right: 1px solid rgba(61, 0, 255, 0.5);
	width: 0px;
	position: absolute;
	top: 0;
	left: 40px;
	height: 100%;
}

#mailapp input::-webkit-input-placeholder {
	font-style: italic;
}

#mailapp input:-moz-placeholder {
	font-style: italic;
	color: #a9a9a9;
}

#mailapp h1 {
	position: absolute;
	top: -120px;
	width: 100%;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	color: #b3b3b3;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

#header {
	padding-top: 15px;
	border-radius: inherit;
}

#header:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 15px;
	z-index: 2;
	border-bottom: 1px solid #6c615c;
	background: #8d7d77;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
	background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: -moz-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: -o-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: -ms-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}

#main {
	position: relative;
	z-index: 2;
	border-top: 1px dotted #adadad;
}

#mail-inbox-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#mail-inbox-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px dotted #ccc;
}

#mail-inbox-list li .markUnread {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 5px;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

#mail-inbox-list li .markUnread:after {
	content: '✉';
	line-height: 43px; /* 40 + a couple of pixels visual adjustment */
	font-size: 40px;
	color: #d9d9d9;
	text-shadow: 0 -1px 0 #bfbfbf;
}

#mail-inbox-list li .markUnread:checked:after {
	color: #85ada7;
	text-shadow: 0 1px 0 #669991;
	bottom: 1px;
	position: relative;
}

#mail-inbox-list li .reply {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 47px;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

#mail-inbox-list li .reply:after {
	content: '↷';
	line-height: 43px; /* 40 + a couple of pixels visual adjustment */
	font-size: 40px;
	color: #d9d9d9;
	text-shadow: 0 -1px 0 #bfbfbf;
}

#mail-inbox-list li .reply:checked:after {
	color: #85ada7;
	text-shadow: 0 1px 0 #669991;
	bottom: 1px;
	position: relative;
}

#mail-inbox-list li label {
	word-break: break-word;
	padding: 2px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-ms-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

#mail-inbox-list li:hover {
	opacity: 0.8;
}

#mail-inbox-list li .destroy {
	left: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
}

#mail-inbox-list li .reply,
#mail-inbox-list li .destroy,
#mail-inbox-list li .markUnread {
	position: absolute;
	top: 0;
	margin: auto 0;
	font-size: 22px;
	color: #559E61;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#mail-inbox-list li .reply:hover,
#mail-inbox-list li .destroy:hover,
#mail-inbox-list li .markUnread:hover {
	text-shadow: 0 0 1px #000 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}

#mail-inbox-list li .destroy:after {
	content: '✖';
}

#mail-inbox-list li:hover .destroy {
	display: block;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox and Opera
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#toggle-all,
	#mail-inbox-list li .markUnread {
		background: none;
	}

	#mail-inbox-list li .markUnread {
		height: 40px;
	}
}

.hidden{
	display:none;
}

div.transbox {
  position: absolute;
  padding: 5px;
	width: 80%;
	height: 78%;
	left:0;
	right:0;
	margin: auto auto;
	background-color: rgba(0,0,0,0.0);
  box-shadow: inset 0 0 1em 0 black;
	/*border: 1px solid white;*/
	border-radius:9px;
	filter: alpha(opacity=70);
	overflow-x:hidden;
	overflow-y:auto;
}

.mail-transbox {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 600%;
}
.compose-mail-section {
	position: absolute;
	height: 100%;
	width: 100%;
	top: -600%;
	line-height: 300%;
	text-align: center;
}

input, textarea {
	width: 80% !important;
}
textarea {
	min-height: 300px !important;
	height: 90% !important;
}

div.inner-transbox-right {
  width: 65%;
  height: 93%;
  margin: auto auto;
  position: absolute;
  right:0.5%;
  top:0.5%;
  bottom:0.5%;
  display:inline-block;
  padding: 1%;
	word-break: break-word;
}

/* text styling for empty show email box */
.show-email-empty {
}

.show-email-with-content {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  border-radius:3px;
  box-shadow: inset 0 0 1em 0 black;
  filter: alpha(opacity=80);
}

#show-email-inner-wrapper {
  width: 95%;
  height: 90%;
  margin: auto auto;
  display:inline-block;
  padding: 1%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px;
}

.transbox h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #b3b3b3;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

#mails-header {
	text-align: center;
}

div.inner-transbox-left {
  margin: 20px 20px;
  width: 30%;
  height: 98.4%;
  margin: auto auto;
  filter: alpha(opacity=70);
  position: absolute;
  left: 0.5%;
  top: 1%;
  float:left;
}

div.inner-transbox-left h1 {
  display: inline-block;
}

div#mailapp {
	height: 80%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
	border-radius:9px;
  left:0.5%;
  bottom:0.5%;
}

#lab-subject {
  font-weight: bold;
}

.push-right {
	float:right;
}

#mail-inbox-list li.shown {
  box-shadow: inset 0 0 6px 0 rgb(15, 6, 230) !important;
}

#chosen-email-subject {
	font-weight: bold;
	font-size: 250%;
	padding: 20px;
}

#chosen-email-author {
	font-size: 160%;
	padding: 10px 50px;
}

#chosen-email-time {
	font-weight: lighter;
	font-size: 95%;
	padding: 10px 50px;
}

#chosen-email-body {
	font-size: 100%;
	padding: 10px 20px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.0);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); 
    background-color: rgba(15, 6, 230, 0.61);
}

.unread {
  background: rgba(167, 152, 77, 0.22);
}

hr {
	border-top: 1px solid rgba(0, 10, 255, 0.3) !important;
	border-bottom: 1px solid rgba(0, 163, 255, 0.29) !important;
}

div.alert {
	text-align: center;
	position: absolute;
	padding: 10px;
	line-height: 60px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: #b3b3b3;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
  padding: 5px;
	margin: auto auto;
	background-color: rgba(0,0,0,0.0);
  box-shadow: inset 0 0 0.2em 0 black;
	border-radius:9px;
	filter: alpha(opacity=70);
}

#new-mail {
	right: -100%;
}

#mail-sent {
	left: -100%;
}

.mymail-error {
	display: none;
	line-height: 110%;
	font-weight: bold;
	font-size: medium;
	background-color: rgba(0, 163, 255, 0.16);
	border-radius: 9px;
	color: red;
	width: 400px;
	margin: 5px auto;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.7em white;
}

