<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>• MyMail •</title>
		<link href="favicon.ico" rel="icon"/>
		<link rel="stylesheet" href="mail_lib/mail_common/base.css">
		<link rel="stylesheet" href="bootstrap.css">
	</head>
	<body>

		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">MyMail</a>
				<ul class="nav">
					<li class="active" id="inbox-nav">
						<a href="#recieved">Inbox</a>
					</li>
					<li id="sent-nav">
						<a href="#sent">Sent</a>
					</li>
					<li id="compose-nav">
						<a href="#compose">Compose a new message</a>
					</li>
				</ul>
				<span class="push-right"> <a class="label label-info">Hi <span id="user-name"></span>! Good to see ya:)</a>      <a href="#" id="logout-btn" class="btn">Logout</a> </span>
			</div>
		</div>
		
		
		<p id="send-error" class="mymail-error">
			Unable to send Email.<br />
			Make sure you typed the correct username.
		</p>
		<p id="send-error-content" class="mymail-error">
			Unable to send Email.<br />
			Recipient, subject, or message body is not valid.
		</p>

		<div class="transbox">

			<div class="mail-transbox">

				<div class="inner-transbox-right">
					<div id="show-email-inner-wrapper" class="show-email-with-content">
						<section id="chosen-email">
							<div id="chosen-email-empty">
								<br />
								<br />
								<br />
								<br />
								<h1>no email selected</h1>
							</div>
						</section>
					</div>
				</div>

				<div class="inner-transbox-left">
					<div id="mails-header">
						<h1 id="mails-title">Inbox</h1><h1 id="mails-title-count"></h1>
					</div>
					<div id="mailapp">
						<section id="main">
							<ul id="mail-inbox-list"></ul>
						</section>
					</div>

					<script type="text/template" id="mail-template">
						<div title="Click once to view mail, once more to close" class="view">
							<label id="lab-subject"><%- subject %></label>
							<label id="lab-name"><%- firstName %> <%- lastName %> (<%- userName %>)</label>
							<label id="lab-time"><%- time %></label>
							<button title="Toggle Read/Unread" class="markUnread"></button>
							<button title="Reply to this message" class="reply"></button>
							<button title="Delete Message" class="destroy"></button>
						</div>
					</script>

					<script type="text/template" id="show-template">
						<div id="show-email-inner-wrapper" class="show-email-with-content">
							<section id="chosen-email">
								<div id="chosen-email-empty">
									<br />
									<br />
									<br />
									<br />
									<h1>no email selected</h1>
								</div>
								<div id="chosen-email-not-empty" class="hidden">
									Subject:
									<div id="chosen-email-subject">
										<%- subject %>
									</div>
									User:
									<div id="chosen-email-author">
										<%- firstName %> <%- lastName %> (<%- userName %>)
									</div>
									At:
									<div id="chosen-email-time">
										<%- time %>
									</div>
									<hr>
									<div id="chosen-email-body">
										<%= messageBody %>
									</div>
								</div>
							</section>
						</div>
					</script>

				</div>
				
			</div><!-- mail-transbox -->
		
			<div class="compose-mail-section">
				<h2>Compose Mail:</h2>
				<form class="form-inline" method="post" id="compose-mail">
					<input type="text" id="compose-to"  placeholder="Who are you sending this email to ?" />
					<input type="text" id="compose-subject"  placeholder="Email subject" />
					<br/>
					<textarea id="compose-body" rows="10"></textarea>
					<br/><br/>
					<button type="submit" class="btn btn-large btn-primary" id="compose-btn">
						Send
					</button>
				</form>
			</div>

		</div><!-- transbox -->
		
		<div class="alert" id="new-mail">
			You've<br />
			Got<br />
			Mail!<br />
		</div>
		<div class="alert" id="mail-sent">
			Mail<br />
			Sent!<br />
		</div>
		
		<!-- Mail App js files -->
		<script src="mail_js/socket.io.js"></script>
		<script src="jquery.js"></script>
		<script src="mail_lib/underscore/underscore.js"></script>
		<script src="mail_lib/backbone/backbone.js"></script>
		<script src="mail_js/mailApp.js"></script>
		<script src="mail_js/models/mailModel.js"></script>
		<script src="mail_js/collections/mailCollection.js"></script>
		<script src="mail_js/views/mailsView.js"></script>
		<script src="mail_js/views/app.js"></script>
		<script src="mail_js/views/mailWindowView.js"></script>
		<script src="mail_js/routers/router.js"></script>

	</body>
</html>
