body {
	background-image: url('bg.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  padding: 20px;
}

#container {
	border-radius:9px;
	background: #fff;
	background-color: rgba(255,255,255,1.1);
  box-shadow: inset 0 0 1em 0 black;
	border-radius:9px;
	filter: alpha(opacity=70);
  left: 0;
  right: 0;
  height: 70%;
  overflow-y: auto;
	line-height:250%;
  margin-left:auto;
  margin-right:auto;
	position:absolute;
	padding:20px;
	text-align:left;
	width:50%;
}

h1 {
  text-align:center;
}

.hidden {
	display:none;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.0);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); 
    background-color: rgba(15, 6, 230, 0.61);
}