body {
	background-image: url('bg.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  text-align: center;
}

.form-wrapper {
	border-radius:9px;
	background:#fff;
	background: rgba(0, 0, 0, .2);
	min-height:200px;
  left:0;
  right:0;
	line-height:350%;
  margin-left:auto;
  margin-right:auto;
	position:absolute;
	padding:20px;
	top:120px;
	text-align:center;
	width:300px;
}

.login-form {
}

.hidden {
	display: none;
}

.ketchup-error li {
	line-height: 12px;
}

.mymail-error {
	display: none;
	line-height: 110%;
	font-weight: bold;
	font-size: medium;
	background-color: rgba(255, 255, 255, 0.84);
	border-radius:9px;
	color: red;
}
